<div class="app-shell">
  <header class="topbar">
    <h1>Budget Monitoring System</h1>
    <nav>
      <a routerLink="/login">Login</a>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/users">Users</a>
      <a routerLink="/departments">Departments</a>
      <a routerLink="/budget">Budget Allocation</a>
      <a routerLink="/expense">Expense Entry</a>
      <a routerLink="/alerts">Alerts</a>
      <a routerLink="/reports">Reports</a>
      <a routerLink="/auditlogs">Audit Logs</a>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
